ul.userbar {
    margin: 0;
    padding: 0;
    display: flex;
    gap: var(--block-gap);
    justify-content: center;
    align-items: center;
}

ul.userbar > li {
    list-style-type: none;
}

ul.userbar > li > p {
    color: var(--color1);
    text-align: center;
}

ul.userbar > li > button {
    width: 100%;
}

@media (max-width: 768px) {
    ul.userbar > li {
        width: 100%;
    }

    ul.userbar {
        flex-direction: column;
        width: 100%;
        grid-column: 1;
        grid-row: 3;
        align-self: end;
        padding: 0 2em 2em;
    }
}