.text-input {
    display: grid;
    align-items: center;
    position: relative;
}

.text-input > label {
    margin: 0 1em 0 0;
    font-size: var(--text-big);
    color: var(--foreground1);
    width: 100px;
}

.input-field {
    grid-row: 1;
    grid-column: 2;
    padding: var(--field-padding);
    border: var(--field-border);
    border-radius: var(--border-radius);
    transition: var(--border-transition), var(--background-transition);
    font-size: var(--text-normal);
    height: var(--field-height);
}

.input-field:focus {
    outline: none;
    border-color:var(--color4);
}

.toggle-password {
    position: absolute;
    right: 11px;
    bottom: 11px;
    cursor: pointer;
    user-select: none;
    font-size: 1.5em;
}

.input-field:disabled {
    background-color: var(--field-disabled);
    cursor: not-allowed;
    border-color: var(--color-disabled);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

@media (max-width: 768px) {
    .text-input label {
        margin: 0 0 0.5em 0;
        width: auto;
    }

    .input-field {
        width: 100%;
        grid-row: 2;
        grid-column: 1;
    }
}