thead {
    background-color: var(--color5);
}

th {
    font-weight: bold;
    color: var(--foreground4);
}

th.sortable {
    cursor: pointer;
}

th.sortable::after {
    content: '↕';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
}

th.sortable.asc::after {
    content: '↑';
}

th.sortable.desc::after {
    content: '↓';
}

th {
    text-align: left;
    padding: var(--double-height-padding);
    font-size: var(--text-normal);
    border-bottom: 1px solid var(--color5);
}

.header-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    gap: var(--element-gap);
}

.header-container > .text-input {
    margin: 0;
}
.header-container > i {
    text-align: right;
}


ul.aux-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-grow: 1;
    gap: var(--block-gap);
    padding: 0;
    margin: 0;
}

ul.aux-bar  > li {
    list-style-type: none;
}

@media (max-width: 768px) {
    ul.aux-bar button {
        padding: var(--block-half-padding);
    }
}